@import "./assets/sass/style";


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/dist/css/bootstrap.css';

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}